<html>

<head>
    <title>
        <%= title%>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="flex justify-between items-center px-6 py-3">
        <div class="flex justify-between items-center">
            <img class="w-12" src="/images/note.png" alt="Homepage">
            <a href="/" class="text-2xl font-bold">Keeper</a>
        </div>
        <div class="navlinks flex gap-x-5 text-base">
            <% if(token){ %>
                <a class="new-note">New Note</a>
                <a href="/user/logout">Log Out</a>
                <% }else{ %>
                    <a href="/user/login">Login</a>
                    <a href="/user/register">Sign up</a>

                    <% } %>
        </div>
    </nav>
    <!-- <div class="container mx-auto p-6"> -->